<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{/}" href="/index.html" th:text="#{topbar.main}">Главная</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/genres}" href="/genres/index.html" th:text="#{topbar.genres}">Жанры</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/books/recent}" href="/books/recent.html" th:text="#{topbar.news}">Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/books/popular}" href="/books/popular.html" th:text="#{topbar.popular}">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/authors}" href="/authors/index.html" th:text="#{topbar.authors}">Авторы</a>
          </li>
        </ul>

      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{/signin}" th:text="#{footerbar.signin}">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/documents}" th:text="#{footerbar.documents}">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/about}" th:text="#{footerbar.about}">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/faq}" th:text="#{footerbar.faq}">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/contacts}" th:text="#{footerbar.contacts}">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2022 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
</html>